<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Projects</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About Me</a></li>

</ul>

<ul class="icons">
  <li><a href="../images/resume.pdf" rel="nofollow">Résumé</a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow" style="border-bottom: none"><span class="label" style="border-bottom: none">GitHub</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
  <li><a href="https://https://scholar.google.com/citations?user={{site.google}}" class="icon fa-google" rel="nofollow"><span class="label">Google Scholar</span></a></li>
  <li><a href="https://medium.com/@{{site.medium}}" class="icon fa-medium" rel="nofollow"><span class="label">Medium</span></a></li>
</ul>
